[Desktop Entry]
Type=Application
Name=lpm
Comment=Prefix manager for Lutris games and runners
Comment[fr]=Gestionnaire de préfixes et runners pour Lutris
Exec=lpm %f
Icon=lpm
Categories=Game;Utility;
Terminal=false
StartupNotify=true
MimeType=application/x-zgp-game;application/x-zgr-runner;
